body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(34, 0, 93);
}



.logo{
    margin-left: 800px;
}


ul{
    display: flex;
    margin-left: 0px;
    gap: 2px;
}

.liste ul li {
    display: flex;

}

.liste ul li a{
    display: flex;
    text-decoration: none;
    margin-left: 170px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



img{
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 130px;
    position: fixed;
    width: 220px;
    border-radius: 20px;
}

.X{
    margin-left: 60px;
    font-weight: bold;
    position: fixed;
    font-size: 25px;
    margin-top: 120px;

}

p{
    margin-left: 60px;
    position: fixed;
    font-size: 18px;
    margin-top: 190px;

}



ul li a:hover{
    border-top: 2px;
    border-color: rgb(87, 85, 85);
    color: aliceblue;
}

.presentation{
    background-color: blanchedalmond;
    width: 1300px;
    height: 516px;
    position: fixed;
}

.btn {
    margin-left: 60px;
    position: fixed;
    font-size: 18px;
    margin-top: 290px;
    background-color: rgb(34, 0, 93);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.presentation a:hover{
    border: 2px double;
    border-color: rgb(34, 0, 93);
    color: aliceblue;
}

.contact{
    margin-top: 300px;
    margin-left: 60px;
    gap: 15px;
    display: flex;



  }